<h3>{{#str}}setavailabletilecolours, format_tiles{{/str}}</h3>
<div>{{#str}}tilecolourgeneral_descr, format_tiles{{/str}}</div>

<h3>{{#str}}resetcolours, format_tiles{{/str}}</h3>
<div class="row">
    <div class="col-sm-3">
        {{#str}}resetcolours, format_tiles{{/str}}
    </div>
    <div class="col-sm-9">
        <a href="{{{config.wwwroot}}}/course/format/tiles/admintools.php?action=resetcolours&sesskey={{sesskey}}" class="btn btn-primary">Reset all course colours</a>
        <div class="mt-3">{{#str}}resetcolours_desc, format_tiles{{/str}}</div>
    </div>
</div>

