<div class="form-group row  fitem" id="tilesinfo">
    <div class="col-md-3">
        <label for="id_courseusebarforheadings">{{#str}}documentation, format_tiles{{/str}}</label>
    </div>
    <div class="col-md-9 checkbox">
        <div>
            {{#documentationurl}}<a href="{{{documentationurl}}}">{{#str}}documentation, format_tiles{{/str}}</a>{{/documentationurl}}
            | {{#str}}developedby, format_tiles, David Watson{{/str}} <a href="http://evolutioncode.uk/contact">({{#str}}contact, format_tiles{{/str}})</a>
        </div>
    </div>
</div>